<% page_title = "Blog" %>
<%= render 'navbar', active_tab: page_title %>

<div class="body-wrapper">
  <div class="container">
    <section class="cards">
      <div class="flex-container reveal">
        <% if @articles.any? %>
          <% @articles.each do |article| %>
            <div class="article-link">
              <%= link_to article.title, article_path(article) %>
            </div>
          <% end %>
        <% else %>
          <h2>No Blog Posts</h2>
        <% end %>
      </class>
    </section>
  </div>

  <%= render 'footer' %>
</div>
