<% page_title = "Home" %>
<%= render 'navbar', active_tab: page_title %>

<div class="body-wrapper">
  <div class="container">
    <section class="module parallax large-header home-header">
      <div class="container reveal">
        <h1>Hi, I'm Sully</h1>
        <h3>Software Engineer</h3>
      </div>
    </section>

    <section class="module home">
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <h2>What I do</h2>
            <p class="reveal"><%= 'I am a Software Engineer with a passion for writing clean maintainable code and building incredible teams.' %></p>
          </div>
        </div>
      </div>
    </section>

    <section class="module parallax large-header home-header-2">
      <div class="container reveal">
        <h1>Procore Technologies</h1>
        <p>I am a Software Engineer at Procore Technologies.  We build project management software for construction companies.  I currently work on our integrations team, where I spend most of my time building out and maintaining microservices to integrate Procore with different accounting software.</p>
      </div>
    </section>
  </div>
  <%= render 'footer' %>
</div>
