<% page_title = "Home" %>
<%= render 'navbar', active_tab: page_title %>

<div class="body-wrapper">
  <div class="container">
    <section class="module parallax large-header home-header">
      <div class="container reveal">
        <h1>Andrew Sullivan</h1>
        <%# <h2>Software Engineer</h2> %>
      </div>
    </section>

    <section class="module home">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h2>What I do</h2>
            <p class="reveal"><%= 'I am a Software Engineer with a passion for writing clean maintainable code and building incredible teams.' %></p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%= render 'footer' %>
</div>
