.card {
  margin-top: 50px;
  margin-bottom: 50px;
  a {
    margin-top: -5px;
    text-decoration: none !important;
    &:hover {
      color: $gold;
    }
  }
}
.small-card {
  width: 20rem;
}
.large-card {
  width: 100vw;
}
