@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@font-face {
  font-family: 'fuji';
  src: url('../fonts/fuji.ttf') format('truetype');
}
@font-face {
  font-family: 'butler-regular';
  src: url('../fonts/Butler_Regular.otf') format('otf');
}
@font-face {
  font-family: 'butler-light';
  src: url('../fonts/Butler_Light.otf') format('otf');
}
@font-face {
  font-family: 'cunia';
  src: url('../fonts/Cunia.ttf') format('truetype');
}
@font-face {
  font-family: 'genome';
  src: url('../fonts/Genome-Thin.otf') format('otf');
}
@font-face {
  font-family: 'thundertitanlaser';
  src: url('../fonts/thundertitanlaser.otf') format('otf');
}
@font-face {
  font-family: 'againts';
  src: url('../fonts/againts.otf') format('otf')
}
