section.article-header {
  background: url('/assets/paper.jpg');
  background-size:cover;
  .article-title {
    text-transform: lowercase;
    text-transform: capitalize;
  }
}

section.content {
  p {
    text-align: left;
  }
}
