.blog-header {
  background: url('/assets/space.jpg');
  background-size:cover;
  .container h1 {
    color: $gold;
    font-family: 'butler-light';
  }
}
section.cards {
  margin-top: 100px;
  margin-bottom: 100px;
}
